[Unit]
Description=network namespace %I with lo interface and separate resolv.conf
#StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/mkdir -p /etc/netns/%i
ExecStartPre=/usr/bin/touch /etc/netns/%i/resolv.conf
ExecStart=/bin/ip netns add %i
#ExecStart=/bin/ip netns exec %i /bin/ip addr add 127.0.0.1 lo
ExecStart=/bin/ip netns exec %i /bin/ip link set lo up
ExecStop=/bin/ip netns del %i
